nav {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
  }
  
nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
nav a:hover {
    background-color: #777;
}